@import url("https://fonts.googleapis.com/css?family=Lobster");

.App {
  background-image: url(../img/trivia.jpg);
  border-radius: 15px 15px 0px 0px;
  max-width: 1900px;
  width: 100%;
}

.route-container {
  height: 95vh;
}
.route-container__header {
  height: 10%;
  max-height: 50px;
}
.route-container__section {
  height: 100%;
  display: flex;
}

.logo {
  align-self: flex-start;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

a:visited {
  color: white;
} /* visited link */
a:hover {
  color: white;
} /* mouse over link */
a:active {
  color: white;
}

a:link {
  text-decoration: none !important;
}

.hidden-answer {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}
