.header {
  width: 100%;
  height: 100%;
  background-color: #505c7e;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 20px 0 100px;
  border-radius: 10px 10px 0px 0px;
}

.header__button {
  border-radius: 0;
}

.header__first {
  flex-basis: 50%;
  display: flex;
}

.header__second {
  flex-basis: 50%;
  justify-content: space-evenly;
  display: flex;
}
