@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* GLOBAL STYLING */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  /*padding: 0;*/
  font-family: sans-serif;
  padding: 20px;
  background-color: #dbf1f7;
  /*background-image: url(../img/trivia.jpg);*/
}

body * {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}
