.highscore-item {
  display: flex;
  flex-direction: column;
  height: 70px;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.8);
}

.index-points {
  font-weight: bolder;
  font-size: 30px;
  color: #50f57b;
}

.gameover-points {
  font-size: 50px;
}

.highscore-animated-header {
  animation: moveInBottom .2s ease-out .2s;
  animation-fill-mode: backwards;
}

.highscore-animated-subheader {
  animation: moveInBottom .8s ease-out .8s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3px); }
  100% {
    opacity: 1;
    transform: translate(0); }
  }
