.sidenav__section {
  flex-basis: 15%;
  background: linear-gradient(to bottom, rgb(58,147,180), transparent );
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
}

.sidenav__dashboard {
  background-color: #0f374d;
  border-color: #0f374d;
}

.sidenav__highscore {
  background-color: #21536a;
  border-color: #21536a;
}

.sidenav__container {
  width: 100%;
}

.sidenav__button {
  width: 100%;
  border-radius: 0;
}
