.gameover-header {
  animation: moveInBottom .2s ease-out .2s;
  animation-fill-mode: backwards;
}

.gameover-subheader {
  animation: moveInLeft .8s ease-out .8s;
  animation-fill-mode: backwards;
}

.challenge-over-container {
  animation: moveInRight .8s ease-out .8s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  80% {
    transform: translateX(1px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10px); }
  80% {
    transform: translateX(-1px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
