.challenge-scoreboard {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  background-color: rgba(4, 15, 27, 0.5);  
  padding: 10px;
  border-radius: 30px;
  border: 4px solid #1f72cb;
  box-shadow: 10px 10px 8px rgba(0,0,0,0.8);
}

.challenge-index {
  display: flex;
  flex-direction: row;
  flex-basis: 85%;
}

.challenge-info {
  flex-basis: 20%;
}

.challenge-questions {
  flex-basis: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.challenge-questions-container {
  position: absolute;
  left: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.question-item-container {
  left: 10%;
}

.challenge-back-button {
  align-self: flex-start;
}

.redirect-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
