/* QUESTIONN STYLING */
.question-paragraph {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
}

.question-back-button {
  margin-top: 50px;
  font-size: 20px !important;
  padding: 10px 30px;
  margin-right: 50px;

  box-shadow: 0 6px #7a2b2b;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.casual-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.casual-back-button {
  margin-top: 0px;
  margin-right: 0px;
}

.question-back-button:hover {
  box-shadow: 0 4px #7a2b2b;
  top: 2px;
}

.question-back-button:active {
  box-shadow: 0 0 #7a2b2b;
  top: 6px;
}

.wrong {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

.right {
  background-color: #59fd30 !important;
  border-color: #59fd30 !important;
  color: white !important;
}
