/* INDEX STYLING */
.fa-check-square {
  font-size: 30px;
  /*transition: 0.2s color;*/
  color: white;
}

.fa-check-square:hover {
  color: #49ce49;
}

.index, .question {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 85%;
  position: relative;
}

.index-container {
  position: absolute;
  top: 20%;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-header, .index-item, .question-header {
  text-align: center;
}

.index-header, .question-header {
  margin-top: 40px;
  color: white;
  font-size: 50px;
  letter-spacing: 2.5px;
}

.challenge-header {
  margin-top: 10px;
  color: white;
  font-size: 25px;
  letter-spacing: 2.5px;
}

.index-subheader {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

.index-list, .question-list {
  width: 350px;
}

.index-list {
  /*display: flex !important;*/
  flex-direction: column;
}

.index-link {
  flex-basis: 90%;
}

.index-item-container > .index-link:visited {
  color: #1d74d9;
}

.index-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

.index-item, .question-item {
  margin: 15px;
  text-decoration: none;
  transition: 0.2s background, 0.2s border-color, 0.2s color;
}

.index-item:hover, .question-item:hover {
  background-color: #9fdce3;
  border-color: #9fdce3;
  color: white;
  text-decoration: none;
}

li.index-item {
  display: flex;
  justify-content: center;
}

.index-button, .question-button {
  margin: 15px;
  font-size: 20px;
  padding: 10px 30px;
  animation-name: buttonColor;
  animation-duration: 10s;
  animation-timing-duration: linear;
  animation-iteration-count: infinite;
  letter-spacing: 1.5px;

  box-shadow: 0 6px #2e4951;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.index-button:hover {
	box-shadow: 0 4px #2e4951;
	top: 2px;
}

.index-button:active {
	box-shadow: 0 0 #2e4951;
	top: 6px;
}

/*.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background: #fcad26;
  font-size: 16px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
	box-shadow: 0 6px #efa424;
  border-radius: 20px;
}

.btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.btn:active {
	box-shadow: 0 0 #efa424;
	top: 6px;
}*/

.question-container {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes buttonColor {
  0% {
    background-color: #4b9bf7;
    border-color: #4b9bf7;
  }

  25% {
    background-color: #0267be;
    border-color: #0267be;
  }

  50% {
    background-color: #4b9bf7;
    border-color: #4b9bf7;
  }

  75% {
    background-color: #0267be;
    border-color: #0267be;
  }

  100% {
    background-color: #4b9bf7;
    border-color: #4b9bf7;
  }
}

.shake {
  animation: shake 2s linear both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);

  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
